/* index page/********************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/pexels-anuradha-gupta-4002705.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 100%;
  height: 90vh;
  background: rgba(0, 0, 0, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section h3 {
  font-size: 25px;
  font-weight: 300px;
  letter-spacing: 2px;
  color: white;
  text-shadow: 1px 1px 1px 2px;
}
section h1 {
  margin: 30px 0px 20px 0px;
  color: white;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}

.index {

  font-size: 20px;
  word-spacing: 0px;
  line-height: 1.8;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
  background-color: #fbfbff4d;
  width: 100%;
  text-align: center;
  }

  .parah{
    padding-left: 200px;
  padding-right: 200px;
  }

.change_content:after {
  content: "";
  animation: changetext 10s infinite linear;
}
@keyframes changetext {
  0% {
    content: "kashmir";
  }
  20% {
    content: "Orissa";
  }
  30% {
    content: "Jaipur";
  }
  40% {
    content: "Delhi";
  }
  50% {
    content: "Kerela";
  }
  60% {
    content: "Manali";
  }
  70% {
    content: "Ladakh";
  }
  80% {
    content: "Pachmari";
  }
  90% {
    content: "Indore";
  }
  100% {
    content: "Mumbai";
  }
}
/* **** footer******************* */
.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
  font-size: x-small;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 1.5em;
  height: 50%;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}



/* footer  */
.row {
  height: 300px;

  box-shadow: 0px 0px 20px 0px rgba(14, 13, 13, 0.425);
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.row1 {
  margin-bottom: 2rem;
  background-color: rgba(226, 25, 55, 0.336);
  color: white;
}
.row .imgbox {
  padding: 3rem;
}
.row .imgbox img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-left: 30px;
}
.textbox1 {
  padding: 50px;
}

.textbox1 .row1 a {
  float: left;
}
.textbox1 .link {
  /* border: 2px black solid; */
  text-decoration: none;
  color: black;
  text-align: center;
  padding-left: 200px;
  font-size: medium;
}
.row {
  height: 300px;
  border: 2px solid black;
}
.row1 .box1 {
  background: url(../images/bck.jpg);
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/* link a:hover {
  border: 0.5px solid white;
} */
.row1 {
  margin-bottom: 1rem;
}
/* .row2 {
  margin-bottom: 10rem;
} */

.row1 .imgbox {
  float: left;
  width: 50%;
}

.row1 .textbox {
  float: right;
  width: 50%;
}
.row .imgbox {
  padding: 3rem;
}
.row .imgbox img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
